.skeleton {
  background: linear-gradient(90deg, #f0f0f0 20%, #e0e0e0 40%, #f0f0f0 60%);
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
  margin-top: 20px;
  width: 100%;
  min-height: 1500px;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 1.25rem; 
}
@keyframes loading {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }